In [10]:
from os import listdir
from os.path import isfile, join
mypath='c:/Users/brandon/Documents/work/solar system/alldata'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['alldata-20210307.csv',
 'alldata-20210421.csv',
 'alldata-20210422.csv',
 'alldata-20210423.csv',
 'alldata-20210424.csv',
 'alldata-20210425.csv',
 'alldata-20210426.csv',
 'alldata-20210427.csv',
 'alldata-20210428.csv',
 'alldata-20210429.csv',
 'alldata-20210430.csv',
 'alldata-20210501.csv',
 'alldata-20210502.csv',
 'alldata-20210503.csv',
 'alldata-20210504.csv',
 'alldata-20210505.csv',
 'alldata-20210506.csv',
 'alldata-20210507.csv',
 'alldata-20210508.csv',
 'alldata-20210509.csv',
 'alldata-20210510.csv',
 'alldata-20210511.csv',
 'alldata-20210512.csv',
 'alldata-20210513.csv',
 'alldata-20210514.csv',
 'alldata-20210515.csv',
 'alldata-20210516.csv',
 'alldata-20210517.csv',
 'alldata-20210518.csv',
 'alldata-20210519.csv',
 'alldata-20210520.csv',
 'alldata-20210521.csv',
 'alldata-20210522.csv',
 'alldata-20210523.csv',
 'alldata-20210524.csv',
 'alldata-20210525.csv',
 'alldata-20210526.csv',
 'alldata-20210527.csv',
 'alldata-20210528.csv',
 'alldata-20210529.csv',
 'alldata-20210530.csv',
 'alldata-20210531.csv',
 'alldata-20210601.csv',
 'alldata-20210602.csv',
 'alldata-20210603.csv',
 'alldata-20210604.csv',
 'alldata-20210605.csv',
 'alldata-20210606.csv',
 'alldata-20210607.csv',
 'alldata-20210608.csv',
 'alldata-20210609.csv',
 'alldata-20210610.csv',
 'alldata-20210611.csv',
 'alldata-20210612.csv',
 'alldata-20210613.csv',
 'alldata-20210614.csv',
 'alldata-20210615.csv',
 'alldata-20210616.csv',
 'alldata-20210617.csv',
 'alldata-20210618.csv',
 'alldata-20210619.csv',
 'alldata-20210620.csv',
 'alldata-20210621.csv',
 'alldata-20210622.csv',
 'alldata-20210623.csv',
 'alldata-20210624.csv',
 'alldata-20210625.csv',
 'alldata-20210626.csv',
 'alldata-20210627.csv',
 'alldata-20210628.csv',
 'alldata-20210629.csv',
 'alldata-20210630.csv',
 'alldata-20210701.csv',
 'alldata-20210702.csv',
 'alldata-20210703.csv',
 'alldata-20210704.csv']

In [22]:
import os
import pandas as pd

path = os.path.join('c:' + os.sep, 'Users', 'brandon', 'Documents', 'work','solar system','alldata','alldata-20210423.csv')
student_data = pd.read_csv(path)
# student_data.dropna(how='all', axis=1, inplace=True)

student_data

,id,record_time,Vpv,Chg_cur,Chg_power,acc_kWh_hi,acc_kWh_lo,acc_kWh_Total,acc_kWh_Today,Chg_status,...,DICH8,DICH9,DICH10,DICH11,DICH12,DOCHA,DOCHB,DOCHC,DOCHD,Unnamed: 62
0,78969,23/4/2021 12:01:03 AM,0.0,NaN,0,1000,905.2,1905.2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
1,78970,23/4/2021 12:11:12 AM,0.0,NaN,0,1000,905.2,1905.2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
2,78971,23/4/2021 12:21:21 AM,0.0,NaN,0,1000,905.2,1905.2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
3,78972,23/4/2021 12:31:30 AM,0.0,NaN,0,1000,905.2,1905.2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
4,78973,23/4/2021 12:41:39 AM,0.0,NaN,0,1000,905.2,1905.2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,79106,23/4/2021 11:12:16 PM,0.0,NaN,0,1000,907.7,1907.7,2.5,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
138,79107,23/4/2021 11:22:25 PM,0.0,NaN,0,1000,907.7,1907.7,2.5,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
139,79108,23/4/2021 11:32:34 PM,0.0,NaN,0,1000,907.7,1907.7,2.5,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
140,79109,23/4/2021 11:42:43 PM,0.0,NaN,0,1000,907.7,1907.7,2.5,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN
141,79110,23/4/2021 11:52:52 PM,0.0,NaN,0,1000,907.7,1907.7,2.5,0,...,NaN,NaN,NaN,NaN,NaN,True,False,False,False,NaN